.playerScore {
    min-width: 500px;
    display: inline-block;
    padding: 36px;
}

.playerScore h1 {
    text-align: center;
}

.playerScore div {
    font-size: 235px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 50px 0px;
}

