.playerScore {
    min-width: 500px;
    display: inline-block;
    padding: 36px;

}

.playerScore h1 {
    text-align: center;
    color: rgb(243, 94, 243);
    font-weight: bold;
    font-style: italic;
}

.playerScore div {
    font-size: 235px;
 
    text-align: center;
    background-color: white;
    border: 1px solid purple;
    padding: 50px 0px;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
}

